@model Models.EF.Product_details

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product_details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIZE.SizeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZE.SizeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quanlity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quanlity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
