@model Models.EF.Product_details

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product_details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIZE.SizeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZE.SizeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quanlity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quanlity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
